In [1]:
time='hi9 all this raman'
print(id(time))
a=time
a+=('and rahul')
print(id(a))

2361540252144
2361528630720

In [6]:
#list
t=[]#this is an empty list , List allow multiple data type
#eg:
lst = [1,2,3,'pavneet',10.4]

print(lst[3])
print(lst[3])

pavneet

In [20]:
a = [[],[[[],[[],[34,'ansrk']]]]]
# krsna


b = [[23,[[],[],[[[[],[],[[34,56,89]]]]]]]]
# 56

c = ['Syntax','found',[[[[34,43,43]],[[],['Nice','error']]]]]
#error

print('a: ',a[1][0][1][1][1][-1::-1])

print('b: ',b[0][1][2][0][0][2][0][1]) 

print('c: ',c[2][0][1][1][1])

a:  krsna
b:  56
c:  error

In [21]:
#dir('list')
# Ordered
# Mutable
# Allows duplicates
# elements index

NameError: name 'Ordered' is not defined

In [1]:
classs=['a','a','a','a','c','d']
print('classs=[\'a\',\'c\',\'d\']\n',classs)
classs.append('e')
print("append('e')\n",classs,'//After Append')
classs.insert(4,'b')
print("insert(4,'b')\n",classs,'//After Insert')
c2=['f','g']
classs.extend(c2)
print("c2=['f','g']\nextend(c2)\n",classs,'//After Extend')
classs.pop(-3)
print("pop(-3)\n",classs,'//After Pop')
print("count(1)\n",classs.count('a'),'//Count Result')

classs=['a','c','d']
 ['a', 'a', 'a', 'a', 'c', 'd']
append('e')
 ['a', 'a', 'a', 'a', 'c', 'd', 'e'] //After Append
insert(4,'b')
 ['a', 'a', 'a', 'a', 'b', 'c', 'd', 'e'] //After Insert
c2=['f','g']
extend(c2)
 ['a', 'a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'g'] //After Extend
pop(-3)
 ['a', 'a', 'a', 'a', 'b', 'c', 'd', 'f', 'g'] //After Pop
count(1)
 4 //Count Result

In [12]:
a=[1,2,77,4,5]
sum = 0
for i in a:
    sum += i
print(sum)

d=[45,75,[[]],[]]

print(type[d[1]])

89
type[75]

In [32]:
alphabets = list('abcdefghijklmnopqrstuvwxyz')
text = "Hello"
print("Poses of alphabets in ordering:\n")
for i in text:
    letter = alphabets.index(i.lower())
    print(i," -> ",alphabets.index(i.lower()))

Poses of alphabets in ordering:

H  ->  7
e  ->  4
l  ->  11
l  ->  11
o  ->  14

In [33]:
number = int(input("Enter a number to find it's table"))

for i in range(1,11):
    print(number,"*",i,"=",i*number)

Enter a number to find it's table 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [2]:
#Functions
def abc():
    #non parameterised
    print("hello")
def bca(name):
    #parameterised
    print("hii",name)
def cab(name="pavneet"):
    #default parameterised
    print("hii",name)
def cba():
    print("Hola Amigo")
    cab()
abc()
bca("pavi")
cab()
cba()

#nested Functions
def parent():
    print("Bacche Ka Baapu")
    def child():
        print("I'm just a Baby...")
    return child()

parent()

hello
hii pavi
hii pavneet
Hola Amigo
hii pavneet
Bacche Ka Baapu
I'm just a Baby...

In [11]:
#keyword argument
#aah(name="hola",age="10")

#arbitary arguments(*args) stores multiple values
#arbitary keyword arguments(**kargs)
def profile(**info):
    for key,value in info.items():
        print(f"{key}: {value}")

profile(name="pavneet",age=18)

name: pavneet
age: 18

In [62]:
#r - read
#w - write
#a - append
#x - file exist?
a=open(r'C:\Users\pavne\Desktop\Coding\DSaML\testFile.txt','w')
a.write('\nYe karke dikhaooo')

18

In [ ]:
#tuple
# allow duplicates
# methods
# count
# index
a=(10,'Raman',23.2)
# a = [] list
    # mutable
    # allow duplicate
# a = () tuple 
    # immutable
    # allow duplicate
# a = {}  set 
    # mutable
    # dont allow duplicate
    # methods
        # add (add element random pose)
        # remove (remove element)
        # discard (no error if not found)
        # pop (remove random)
        # clear (remove all elements)
#typecasting to list
t=list(a)
t.append(6969)
print(t)
print(tuple(t))

s = {10,20,20,30}
for i in s:
    print(f'{i}')

[10, 'Raman', 23.2, 6969]
(10, 'Raman', 23.2, 6969)
10,{10, 20, 30}
20,{10, 20, 30}
30,{10, 20, 30}

In [11]:
##empty data type
# a=''
# b=[]
# c=()
# d=set()

In [6]:
#dictionary
g={'name':["Pavi","Vampire","Baandari","Dodo"],'age':[18,19,5]}
# print(g)
print(g['name'][0])
#get('class')
# update('class':1)
# key()
# values()
print(g.pop('age'))
print(g)

Pavi
[18, 19, 5]
{'name': ['Pavi', 'Vampire', 'Baandari', 'Dodo']}

In [29]:
try:
    ab=int(input("Enter value"))
    print(ab)
except ValueError:
    print("Enter Int Value")
else:
    print("Nice Input")
finally:
    print("Code Executed")

Enter value 669

669
Nice Input
Code Executed

In [7]:
class Person:
    #constructor function with __init__ means constructor:
    # when we create the object of class constructor automatically calls and runs    
    def __init__(self,name,age): 
        self.name = name
        self.age = age

p1 = Person("Pavneet",18)
p2 = Person("Pavi",18)
print(p1.name,p2.name)
#self = this
#always there in first param of a method in an object

Pavneet Pavi

In [8]:
#database handling
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root'
)
myCursor = mydb.cursor()
myCursor.execute("CREATE DATABASE CREATEDINPY")

ModuleNotFoundError: No module named 'mysql'

In [ ]:
import numpy as lelopodinaahhh

a=lelopodinaahhh.array([[1,2,4],[4,3,1],[3,1,2]])

print(a.ndim)
print(a.shape)
print(a.size)
print(a.dtype)
print(a.itemsize)

2
(3, 3)
9
int64
8

In [1]:
import numpy as lelopodinaahhh

a=lelopodinaahhh.array([[1,2,4],[4,3,1],[3,1,2]])

print(a.sum())
print(a.sum(axis=0))
print(a.sum(axis=1))

print(a.min())
print(a.max())
print(a.mean())
print(a.std())

21
[8 6 7]
[7 8 6]
1
4
2.3333333333333335
1.1547005383792515

In [54]:
import pandas as pandass
import csv

mycsv = pandass.read_csv(r"C:\Users\pavne\Desktop\Coding\DSaML\panda.csv")
print('*'*30)
print(mycsv)
print('*'*30)
print(mycsv.isnull())
print('*'*30)
print(mycsv.fillna("-69"))
print('*'*30)
print(mycsv.dropna())
print('*'*30)

df = pandass.DataFrame(mycsv)


print(df['marks'].sum())
print(df['marks'].mean())
print(df['marks'].max())
print(df['marks'].min())

******************************
      name   class   age  marks
0  pavneet      12  18.0     98
1  vampire      12  18.0    100
2     dodo      11  17.0     78
3  baandri  anpadh   NaN   -100
******************************
    name  class    age  marks
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
******************************
      name   class   age  marks
0  pavneet      12  18.0     98
1  vampire      12  18.0    100
2     dodo      11  17.0     78
3  baandri  anpadh   -69   -100
******************************
      name class   age  marks
0  pavneet    12  18.0     98
1  vampire    12  18.0    100
2     dodo    11  17.0     78
******************************
176
44.0
100
-100

In [56]:
import matplotlib.pyplot as plt